.productDetail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #ec4c8a;
}

.image {
  width: 3rem;
  border-radius: 5px;
}

.productDescription:nth-child(odd) {
  color: white;
  font-weight: bold;
  padding: 1rem 25px;
  background-color: rgb(210,67,121);
}

.productDescription:nth-child(even) {
  color: white;
  font-weight: bold;
  padding: 1rem 25px;
  background-color: rgb(248,79,144);
}
